/* --------------------------------------------------------
CONTRIBUTORS: SimonLotzkar
DESCRIPTION: styles global, footer, and navbar
-------------------------------------------------------- */

/* X-Small devices (portrait phones, less than 576px) */
* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #ffcb30;
}

footer {
    background-color: #d6a100;
}

.disabledAnchor {
    pointer-events: none;
    cursor: default;
}

.uppercase {
    text-transform: uppercase;
}

.jumbotron {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #d6a100;
    background-image:
    linear-gradient(
      to bottom,
      #d6a100, #FFC107
    );
}

.jumbotron h1 {
    font-weight: bolder;
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}

.jumbotron h4 {
    display: none;
}

footer {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

footer h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

footer > div {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .jumbotron h1 {
        font-size: 3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron h1 {
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}